body {
    background-color:#e3f542;
}

#button-view{
    min-height: 100px;
    background-color: #d13d3d;
}

.subject-button{
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
}

.card-div {
    display: inline;
    float: left;
    height: 200px;
    margin: 20px 10px;
}

.gif{
    max-width: 250px;
    border: 2px solid;
}

span {
    display: block;
    color: white;
    background-color: blue;
    text-align: center;
}