body {
    background-color:#ffe135;
}


#button-view{
    min-height: 100px;
    background-color: #ff0800;
    width: 100%;
    padding: 5px;

}

.subject-button{
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
}

.card-div {
    display: inline;
    float: left;
    height: 200px;
    margin: 20px 10px;
}

.gif{
    width: 150px;
    height: 150px;
    border: #FFA836 2px solid ;
}

span {
    display: block;
    color: white;
    background-color: #4f86f7;
    text-align: center;
}

.right-panel{
    margin-top: 20px;
}

.button {
    background-color: #fc5a8d;
    color: white;
}

.subject-button { 
    background-color: #71a95a;
    color: white;
}

span{
    padding: 5px 0px;
}